* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
    background: #caaaaa;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #864b4b;
    color: white;
    padding: 20px;
}

.sidebar-title {
    margin-bottom: 20px;
    font-size: 22px;
}

.menu li {
    list-style: none;
    padding: 12px 0;
    color: #ddd;
    cursor: pointer;
}

.menu li:hover {
    color: white;
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
    padding: 30px;
}

.section-title {
    margin: 25px 0 10px;
    font-weight: bold;
    color: #614747;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
}

.label-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.sub-info {
    font-size: 13px;
    color: #8e2c2c;
    margin-bottom: 12px;
}

/* PROGRESS BAR */
.progress-bar {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 20px;
}

.progress {
    height: 100%;
    background: #3b7cff;
    border-radius: 20px;
}

/* SLEEP BAR */
.sleep-bar {
    width: 100%;
    height: 14px;
    background: #ddd;
    border-radius: 20px;
}

.sleep-cycle {
    width: 70%;
    height: 100%;
    background: #6a6aff;
    border-radius: 20px;
}

/* REMINDER + TIP CARDS */
.reminder-card,
.tip-card {
    background: white;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgba(154, 73, 73, 0.1);
    margin-bottom: 10px;
}

.reminder-card ul li {
    margin-left: 20px;
}


