body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #caaaaa;
}

header {
    background: #333;
    color: rgb(157, 102, 102);
    padding: 18px;
    text-align: center;
    font-size: 24px;
}

nav {
    background: #864b4b;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.content {
    width: 80%;
    margin: 20px auto;
}

.info-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.info-card h3 {
    margin-bottom: 5px;
}

button {
    padding: 7px 15px;
    margin-top: 10px;
    border: none;
    background: #a61515;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #444;
}
